body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

* div {
  padding: 1em;
}

header {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

main {
  flex: 1;
}

footer {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  text-align: center;
}
